html{
	height: 100%;
}

.my-btn{
	position: absolute;
	top:550px;
	left:50px;
}


button{
	font-family: "Libre Franklin";
	font-weight: 600;
	font-size: 14px;
	background: #847FA1;
	color: #2B2743;
	border-radius: 6px;
	padding: 14px 20px 14px 20px;
	border: none;
	margin: 4px 4px 4px 4px;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}
