html{
	height: 100%;
}


button{
	font-family: "Libre Franklin";
	font-weight: 600;
	font-size: 14px;
	background: #847FA1;
	color: #2B2743;
	border-radius: 6px;
	padding: 14px 20px 14px 20px;
	border: none;
	margin: 4px 4px 4px 4px;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}

.buttonActive{
	opacity: 1;
	background: #FF775F;
	color: #fff;
}

.buttonActive:hover{
	background: #FF775F;
}

button:hover{
	background: #9f9bb5;
	-webkit-transform: translateY(-2px);
	    -ms-transform: translateY(-2px);
	        transform: translateY(-2px);
}

button:focus{
	outline:0;
}

button:active{
	-webkit-transform: translateY(1px);
	    -ms-transform: translateY(1px);
	        transform: translateY(1px);
}
